@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Roboto:wght@100;300;400;500;700&display=swap');

.App {
  text-align: center;
  width: 94%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Inconsolata', monospace;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #4a6e88, #4e255f)
}

h1 {
  color: #f7f2f2;
  letter-spacing: 3px;
}

.markdown {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.col-1 {
  width: 50%;
  height: 75vh;
  border: 5px dashed #f7f2f2;
  margin-right: 10px;
}

textarea {
  max-width: 98%;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  font-size: 20px;
  border: 0;
  outline: 0;
  resize: none;
  background: transparent;
  color: #f7f2f2;
}

.text {
  overflow-wrap: break-word;
  max-width: 98%;
  margin: 0 auto;
  height: 100%;
  padding: 10px;
  color: #f7f2f2;
  font-size: 20px;
  text-align: start;

}

i{
  color: #f7f2f2;
  font-size: 23px;
  border: 2px solid #f7f2f2;
  padding: 8px;
  cursor: pointer;
}
